body {
  font-family: Arial, sans-serif;
  text-align: center;
  padding-top: 50px;
  transition: background-color 0.3s ease;
  font-family: Verdana, sdans-serif;
}

#btn {
  padding: 10px 20px;
  font-size: 1.1rem;
  cursor: pointer;
  margin-top: 20px;
  border: 2px solid #333;
}

#btn:hover {
  background-color: #eee;
}

#color-code {
  font-size: 1.2rem;
  margin-bottom: 20px;
}